
.container {

    width: 70%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.image {
    display: none;
}
#prev {
    position: absolute;
    left: 0;
    font-size: xx-large;
    color: rgb(6, 7, 8);
    cursor: pointer;
    transition: 0.6s ease;
}
#next {
    position: absolute;
    right: 0;
    font-size: xx-large;
    color: rgb(14, 12, 11);
    cursor: pointer;
    transition: 0.6s ease;
}

#prev:hover, #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.dots {
    text-align: center;
    margin: 2%;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: rgb(150, 143, 143);
    display: inline-block;
    border-radius: 50%;
    margin: 0 2px;
    transition: background-color 0.6s ease;
}

.active {
    background-color: rgb(49, 45, 45);
}
.fade {
    animation: fade 1.5s;
}

@keyframes fade {
    from{opacity: .4;}
    to{opacity: 1;}
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}